rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /offers/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /services/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /galleryImages/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /blogPosts/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /promotions/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
